.content-line
  position: absolute
  z-index: 1000
  width: 100%
  &_overlapping
    top: -2rem
  &_top
    width: 100%
    top: 0
  &_center
    .content-line__container-background
      padding-left: 39px
      left: -20px
  &_full-right
    left: 0
  &_with-shadows
    .content-line__container_standart,
    .content-line__container-background
      box-shadow: 2px 4px 21px 0px rgba(1, 1, 1, 0.1)
  &__container
    position: relative
    display: flex
    justify-content: space-between
  &__contents
    position: relative
    z-index: 2
  &__container-background
    position: absolute
    width: 100%
    top: -50%
    left: -40px
    z-index: 1
    background-color: #fff
    padding: 17px 39px 17px 39px
  &__container_standart
    background-color: #fff
    padding: 17px 19px