section.coachs
    .content-line.content-line_left.content-line_tilt-left
        h2.content-line__title Our Coachs
    .gap-1
    p We’re Proud to Have Some of the Highest Level Coachs in the World.
    .row
        .col-lg-3
            figure.figure
                img.figure__image
                figcaption.figure__caption
                    .figure__title Cynthia James
                    .figure__subtitle Co-Founder
        .col-lg-3
            figure.figure
                img.figure__image
                figcaption.figure__caption
                    .figure__title Rachel Johnson
                    .figure__subtitle Master
        .col-lg-3
            figure.figure
                img.figure__image
                figcaption.figure__caption
                    .figure__title Crystal Reid
                    .figure__subtitle Master
        .col-lg-3
            figure.figure
                img.figure__image
                figcaption.figure__caption
                    .figure__title Billy Estrada
                    .figure__subtitle Co-Founder
    .gap-1