.feedback
    .feedback__controls
        a.feedback__control.feedback__prev
        a.feedback__control.feedback__next
    .feedback__items
        blockquote.feedback__item
            .feedback__text
                p
                    | After 10 years, I can confidently say has helped my children in all aspects of life.
                    | They have helped to develop my children into confident, respectful, caring people.
                    | Instructors go the extra mile in instructing, coaching and caring for their students.
            cite
                .feedback__author David Janders
                .feedback__author-career Co-Founder
                .feedback__author-extra
                    img.feedback__author-sign
        blockquote.feedback__item
            .feedback__text
                p
                    | After 10 years, I can confidently say has helped my children in all aspects of life.
                    | They have helped to develop my children into confident, respectful, caring people.
                    | Instructors go the extra mile in instructing, coaching and caring for their students.
            cite
                .feedback__author David Janders
                .feedback__author-career Co-Founder
                .feedback__author-extra
                    img.feedback__author-sign
        blockquote.feedback__item
            .feedback__text
                p
                    | After 10 years, I can confidently say has helped my children in all aspects of life.
                    | They have helped to develop my children into confident, respectful, caring people.
                    | Instructors go the extra mile in instructing, coaching and caring for their students.
            cite
                .feedback__author David Janders
                .feedback__author-career Co-Founder
                .feedback__author-extra
                    img.feedback__author-sign
