header
    .content-line.content-line_top.content-line_full-right.content-line_tilt-right
        .call-us
            i.fa.fa-phone
            span.call-us__text Call Us Today:
            a.call-us__phone(href='callto:8889997777') 888.999.7777
        ul.social-icons
            li.social-icons__item
                a(href="#")
                    i.fa.fa-instagram
            li.social-icons__item
                a(href="#")
                    i.fa.fa-twitter
            li.social-icons__item
                a(href="#")
                    i.fa.fa-facebook
    .header
        .header__logo
            img.header__logo-image
            .header__site-name
                b Knock
                | Out
        .header__info
            .header__info-icon
                i.fa.fa-map
            .header__info-contents
                strong.header__info-primary Pottington Business Park
                .header__info-secondary New York, United America

        .header__info
            .header__info-icon
                i.fa.fa-phone
            .header__info-contents
                strong.header__info-primary 999-888-777
                .header__info-secondary Call us Today to Register