section.b-info
    .container.section
        nav.content-line.content-line_overlapping.content-line_with-shadows.content-line_full-right.content-line_tilt-left
            .content-line__container.content-line__container_large.content-line__container_dark
                .menu.menu_dark
                    ul.menu__items
                        li.menu__item
                            a(href="#").menu__link Adults
                        li.menu__item
                            a(href="#").menu__link Ladies
                        li.menu__item
                            a(href="#").menu__link Mighty Matts
                        li.menu__item.menu__item_active
                            a(href="#").menu__link Junior
                        li.menu__item
                            a(href="#").menu__link Fitness
                        li.menu__item
                            a(href="#").menu__link Other
    .b-info__container.container
        .row.front-layer
            .col-md-6
                h3.section-title.section-title_secondary About Us
                .accordion
                    input(type="radio" name="accordion-about" id="accordion-about-1" checked).accordion__input
                    label(for="accordion-about-1").accordion__label
                        .accordion__icon
                            i.fa.fa-eye
                        .accordion__label-text
                            b.accordion__label-text_bold Our
                            |  Vision
                    .accordion__text
                        p
                            | Whether you’re new to martial arts or have been training for years, We has the program that is right for you.
                            | Our unique combination of Kung Fu, Tai Chi, Kickboxing & Grappling - MMA creates a complete,
                            | well rounded training experience: Kung Fu for practical self defense,

                    input(type="radio" name="accordion-about" id="accordion-about-2").accordion__input
                    label(for="accordion-about-2").accordion__label
                        .accordion__icon
                            i.fa.fa-sun-o
                        .accordion__label-text
                            b Our
                            |  Misson
                    .accordion__text
                        p
                            | Whether you’re new to martial arts or have been training for years, We has the program that is right for you.
                            | Our unique combination of Kung Fu, Tai Chi, Kickboxing & Grappling - MMA creates a complete,
                            | well rounded training experience: Kung Fu for practical self defense,

                    input(type="radio" name="accordion-about" id="accordion-about-3").accordion__input
                    label(for="accordion-about-3").accordion__label
                        .accordion__icon
                            i.fa.fa-compass
                        .accordion__label-text
                            b Our
                            |  Approach
                    .accordion__text
                        p
                            | Whether you’re new to martial arts or have been training for years, We has the program that is right for you.
                            | Our unique combination of Kung Fu, Tai Chi, Kickboxing & Grappling - MMA creates a complete,
                            | well rounded training experience: Kung Fu for practical self defense,
            .col-md-6
                h3.section-title.section-title_secondary Blogs
                .latest-news
                    .latest-news__item
                        .latest-news__item-date
                            .latest-news__item-day 02
                            .latest-news__item-month Oct
                        .latest-news__item-content
                            h3.latest-news__item-title Children’s Protector Instructors are..
                            .latest-news__item-text
                                p In which children learn effective techniques to help them escape and evade the different grasps used in an abduction attempt

                    .latest-news__item
                        .latest-news__item-date
                            .latest-news__item-day 02
                            .latest-news__item-month Oct
                        .latest-news__item-content
                            h3.latest-news__item-title Children’s Protector Instructors are..
                            .latest-news__item-text
                                p In which children learn effective techniques to help them escape and evade the different grasps used in an abduction attempt

