section.section.join
    .content-line.content-line_right.content-line_tilt-right
        h2.content-line__title Get a free pass
        .background
            img.background__image
        .row
            .col-md-8.col-md-offset-4
                form.form
                    .row
                        p Join us for a Free Week of Classes and Personal Training.
                    .row
                        .col-md-6
                            .row
                                label.form__label Studen’s Full Name
                                input(type="text")
                            .row
                                label.form__label Parent’s name if minor
                                input(type="text")
                            .row
                                label.form__label Phone
                                input(type="text")
                        .col-md-6
                            .row
                                label.form__label Studen’s Name
                                input(type="text")
                            .row
                                label.form__label Email
                                input(type="text")
                            .row
                                label.form__label Choose Location
                                input(type="text")
                    .row
                        textarea(placeholder="Your message")
                    .row
                        button.btn.btn-primary Send