section.section.b-join
    .background
        img.background__image
    .container.front-layer
        .section
            .content-line.content-line_overlapping.content-line_with-shadows.content-line_right.content-line_tilt-left
                .content-line__container.content-line__container_medium.content-line__container_light
                    .content-line__contents
                        h2.content-line__title Get a free pass
        .row
            .col-md-6.col-md-offset-5
                form.form
                    .row.b-join__hint
                        p Join us for a Free Week of Classes and Personal Training.
                    .row
                        .col-md-6
                            .row
                                label.form__label Studen’s Full Name
                                input.form__input(type="text")
                            .row
                                label.form__label Parent’s name if minor
                                input.form__input(type="text")
                            .row
                                label.form__label Phone
                                input.form__input(type="text")
                        .col-md-6
                            .row
                                label.form__label Studen’s Name
                                input.form__input(type="text")
                            .row
                                label.form__label Email
                                input.form__input(type="text")
                            .row
                                label.form__label Choose Location
                                select.form__input
                                    option Moscow
                    .row
                        textarea.form__input(placeholder="Your message")
                    .row
                        button.btn.btn_primary.btn_no-margin Send