section.section.jumbotron
    hgroup
        h1.jumbotron__title
            b Martial
            | Arts
        h3.jumbotron__subtitle
            | We’re 1st Academy in London
    .jumbotron__text
        p We stand apart from other schools because one on one private lessons are included in every membership.

    .jumbotron__controls
        a(href="#").btn.btn-primary Register Now
        a(href="#").link Read More
