section.section.our-programs
    .content-line.content-line_left.content-line_tilt-left
        h2.content-line__title Our Programs
    .background
        img.background__image

    h2.section-title.section-title_fluid
        b Junior
        | Class
    .aside-footnote.aside-footnote_right
        .aside-footnote__text
            p Something for all people of all abilities who want to improve their lives includes weight loss, self-defence .
        .aside-footnote__controls
            a(href="#").btn.btn-primary Read More

