section.section.b-testimonials
    .background
        img.background__image.background__image_fullwidth(src='images/dojo.jpg')

    .container
        .section
            .content-line.content-line_overlapping.content-line_with-shadows.content-line_left.content-line_tilt-left
                .content-line__container.content-line__container_medium.content-line__container_light
                    .content-line__contents.content-line__contents_fullwidth
                        h2.content-line__title Testimonials