nav.top-menu
    .content-line.content-line_center.content-line_tilt-right
        .menu
            ul.menu__items
                li.menu__item.menu__item_active
                    a.menu__link(href="#") Home
                li.menu__item
                    a.menu__link(href="#") Our Coachs
                li.menu__item
                    a.menu__link(href="#") Programs
                li.menu__item
                    a.menu__link(href="#") Locations
                li.menu__item
                    a.menu__link(href="#") Galleries
                li.menu__item
                    a.menu__link(href="#") Contact Us
            form.menu-search