nav.section.top-menu
    .content-line.content-line_overlapping.content-line_with-shadows.content-line_center.content-line_tilt-right
        .content-line__container.content-line__container_large.content-line__container_light.container
            .content-line__contents
                .menu
                    ul.menu__items
                        li.menu__item.menu__item_active
                            a.menu__link.menu__link_first(href="#") Home
                        li.menu__item
                            a.menu__link(href="#") Our Coachs
                        li.menu__item
                            a.menu__link(href="#") Programs
                        li.menu__item
                            a.menu__link(href="#") Locations
                        li.menu__item
                            a.menu__link(href="#") Galleries
                        li.menu__item
                            a.menu__link(href="#") Contact Us
                    form.menu-search