.section-title
  &_primary
    position: relative
    z-index: 2
    color: #212121
    font-size: 72px
    font-weight: 100
    margin: 0
  &_secondary
    text-transform: uppercase
    font-size: 18px
    color: #3e3d42
    font-weight: 700
    line-height: 14px
  &_bold
    font-weight: 900
  &_fluid-bottom-left
    position: absolute
    bottom: 112px
    left: 15px