extends layout/default

block title
    | Home
block content
    include home/header
    include home/top-menu
    include home/jumbotron
    include home/our-programs
    include home/info
    include home/testimonials
    include home/join